In [35]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [36]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carauari,BR,2022-05-11 23:54:45,-4.8828,-66.8958,74.41,97,98,2.30
1,1,Camacupa,AO,2022-05-11 23:57:37,-12.0167,17.4833,56.95,63,56,4.54
2,2,Hilo,US,2022-05-11 23:57:38,19.7297,-155.0900,85.28,80,25,10.00
3,3,Marzuq,YE,2022-05-11 23:57:39,14.4000,46.4667,73.90,37,34,3.42
4,4,Sitka,US,2022-05-11 23:57:39,57.0531,-135.3300,48.81,66,100,2.68

In [37]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [38]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [39]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [40]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights= [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [45]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hilo,US,2022-05-11 23:57:38,19.7297,-155.0900,85.28,80,25,10.00
8,8,Vaini,TO,2022-05-11 23:57:40,-21.2000,-175.2000,77.16,69,40,12.66
9,9,Avarua,CK,2022-05-11 23:48:31,-21.2078,-159.7750,82.45,78,75,11.50
14,14,Coahuayana,MX,2022-05-11 23:52:57,18.7333,-103.6833,86.04,54,93,5.28
16,16,Rikitea,PF,2022-05-11 23:57:43,-23.1203,-134.9692,77.00,82,13,19.28
22,22,Jamestown,US,2022-05-11 23:55:58,42.0970,-79.2353,76.64,23,0,10.36
26,26,Butaritari,KI,2022-05-11 23:48:08,3.0707,172.7902,81.00,77,99,8.37
31,31,Bengkulu,ID,2022-05-11 23:57:50,-3.8004,102.2655,77.83,89,90,10.54
32,32,Kloulklubed,PW,2022-05-11 23:57:50,7.0419,134.2556,79.20,89,100,10.45
36,36,Faanui,PF,2022-05-11 23:45:28,-16.4833,-151.7500,81.39,77,16,15.77

In [46]:
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [47]:
preferred_cities_df.notnull().sum()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [48]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [49]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2          Hilo      US     85.28  19.7297 -155.0900
8         Vaini      TO     77.16 -21.2000 -175.2000
9        Avarua      CK     82.45 -21.2078 -159.7750
14   Coahuayana      MX     86.04  18.7333 -103.6833
16      Rikitea      PF     77.00 -23.1203 -134.9692
22    Jamestown      US     76.64  42.0970  -79.2353
26   Butaritari      KI     81.00   3.0707  172.7902
31     Bengkulu      ID     77.83  -3.8004  102.2655
32  Kloulklubed      PW     79.20   7.0419  134.2556
36       Faanui      PF     81.39 -16.4833 -151.7500

In [51]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Hilo,US,85.28,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
9,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
14,Coahuayana,MX,86.04,18.7333,-103.6833,El rranchito michuacan de ocampos
16,Rikitea,PF,77.00,-23.1203,-134.9692,People ThankYou
22,Jamestown,US,76.64,42.0970,-79.2353,Hampton Inn & Suites Jamestown
26,Butaritari,KI,81.00,3.0707,172.7902,Isles Sunset Lodge
31,Bengkulu,ID,77.83,-3.8004,102.2655,Grage Hotel Bengkulu
32,Kloulklubed,PW,79.20,7.0419,134.2556,Storyboard Beach Resort
36,Faanui,PF,81.39,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [59]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [60]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [61]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))